.beneficiaryCard {
  height: 360px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1600px ) {
  .beneficiaryCard {
    height: 400px;
  }
}

@media screen and (max-width: 767px) {
  .beneficiaryCard {
    height: 500px;
  }
}