.name {
  font-size: 2em;
  margin-bottom: 1em;
}
.row {
  margin-bottom: 1em;
}
.infoParam {
  text-align: left;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  white-space: nowrap;
}
