#root {
  font-family: 'Lato', sans-serif;
}

.param-value {
  font-size: 1.15em;
  font-weight: 600;
}

/* .page-content-wrapper {
  padding: 0 2.5em;
} */

.hoverable:hover {
  background-color: #343d46;
}

.phone-input-dropdown-button .ant-select-dropdown {
  top: auto;
  left: auto;
  z-index: 10;
}
